
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div>
    <h3>Convertir monto</h3>
  </div>
  <div style="padding: 30px;">

    <table mat-table [dataSource]="lista" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idCambio}} </td>
      </ng-container>

      <ng-container matColumnDef="monedaOrigen">
        <th mat-header-cell *matHeaderCellDef> Moneda Origen </th>
        <td mat-cell *matCellDef="let element"> {{element.monedaOrigen}} </td>
      </ng-container>

      <ng-container matColumnDef="montoOrigen">
        <th mat-header-cell *matHeaderCellDef> Monto Origen </th>
        <td mat-cell *matCellDef="let element"> {{element.montoOrigen}}</td>
      </ng-container>

      <ng-container matColumnDef="monedaDestino">
        <th mat-header-cell *matHeaderCellDef> Moneda Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.monedaDestino}} </td>
      </ng-container>

      <ng-container matColumnDef="montoDestino">
        <th mat-header-cell *matHeaderCellDef> Monto Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.montoDestino}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
  <div style="padding: 30px;">
    <button mat-flat-button (click)="abrirModal()" >Convertir Monto</button>
  </div>

</div>


